<header>
  <h1><a href="/">Musculação.com</a></h1>
  <p><em>Tudo sobre musculação.</em></p>
  {% include adsense.html %}
  <ul>
    <li><a href="{{ site.url }}/alimentacao.html">Alimentação</a></li>
    <li><a href="{{ site.url }}/exercicios-sem-pesos">Exercícios sem peso</a></li>
    <li><a href="{{ site.url }}/exercicios-com-pesos">Exercícios com peso</a></li>
    <li><a href="{{ site.url }}/suplementos.html">Suplementos</a></li>
  </ul>
  <div class="fb-like-box" data-href="http://www.facebook.com/musculacaocom" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
  {% include mailchimp.html %}
</header>